ai_advanced_task.md
venv/
venv/*
.env
*.docx
*.pdf

__pycache__/
.ipynb_checkpoints/
*.xml

*.db

# Dataset folders containing large PNG files
dataset/train/images/
dataset/train/masks/
dataset/val/images/
dataset/val/masks/
dataset/test/images/
dataset/test/masks/

